:root {
    --primary: #202020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: white;
    font-family: "Roboto", sans-serif;
}

html,
body {
    height: 100%;
    background: var(--primary);
}

a {
    text-decoration: none;
}

button,
input {
    outline: 0;
    border: 0;
}

button {
    cursor: pointer;
}

body::-webkit-scrollbar {
    width: 6px;
}
  
body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 8px;
}
  
@media screen and (max-width: 1080px) {
    html,
    body {
        font-size: 93.75%;
    }
}

@media screen and (max-width: 720px) {
    html,
    body {
        font-size: 87.5%;
    }
}
